<section class="our_offer section_padding" >
    <div class="container" >
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-3">
              <app-admin-menus></app-admin-menus>
            </div>
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-12"><h4 style="color: black;">Dashboard</h4></div> 
                </div>
                <hr>
                <div class="col-3 btn btn-warning">
                    <h4>Product: 0 </h4>
                </div>
            </div>

        </div>
    </div>
</section>